.dropbtn {
    
    color: white;
   
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  

  #myInput {
    box-sizing: border-box;
    background-image: url('../../uploads/searchicon.png');
    background-position: 13px 17px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 0;
    right: -214%;
    top: 120%;
    width: 400px
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  div#searched-items {
    overflow: auto;
    max-height: 550px;
    min-height: 0
  }
  
  
  .show {display: block;}


  img.search-bar-image {
    width: 20%
  }