
/* Full-width input fields */

#id02 input[type=text], input[type=password]{
  margin-bottom: 2px;
}
  /* Set a style for all buttons */

  #id02 .main-form-content label{
    font-weight: 500;
    margin-bottom: 0;
  }
   button.signup-modal {
    background-color: transparent;
    color: black;
    padding: 10px ;
    font-family: 'PlayfairDisplay-SemiBold';
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
  }
   button.signup-modal:focus{
    outline: none;
}
 button.signup-modal:hover {
    
    color: var(--primary-color);
  }
   button.signup-modal:focus{
      outline: none;
  }

 #id02 .main-form-content{
   padding: 25px 50px 20px 50px;
   width: 100%;

   height: 100%;
   box-sizing: border-box;
   float: left;
  
   
  }
  /* Extra styles for the cancel button */
  #id02 .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }

  
  
  /* Float cancel and signup buttons and add an equal width */
  #id02 .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  #id02 .container {
    padding: 16px;
  }
  
  /* The Modal (background) */
  #id02 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   
  }
  
  /* Modal Content/Box */
  #id02 .modal-content {
    background-color: #fefefe;
    margin: 0% auto 0% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    min-width: 500px;
    /* height: auto; */
    min-height: auto;
    margin-top: 1%;
    margin-bottom: 0%;
  }
  
  /* Style the horizontal ruler */
  #id02 hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Close Button (x) */
  
  /* Clear floats */
  #id02 .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    #id02 .cancelbtn, .signup-btn {
       width: 100%;
    }
  }

  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }